<!DOCTYPE html>
<html class="no-js" lang="zxx">
<% include ./partials/head %>
<style>
    .PrecioOriginal {
        -webkit-text-decoration-line: line-through;
        /* Safari */
        text-decoration-line: line-through;
    }

    .background-btn {
        background-color: indigo !important;
        transition: all .2s ease-in-out;
    }

    .background-btn:hover {
        transform: scale(1.2);
        background-color: rgba(244, 123, 60, 1) !important;
    }

    .background-btn:focus {
        background-color: rgba(244, 123, 60, 1) !important;
    }

    main {
        min-height: 90vh;
    }

    img {
        max-width: 100%;
        max-height: 30vh;
        height: 100vh;
    }
</style>
<% include ./partials/navbar %>

<body>
    <script>
        function setActiveSlide(currentSlide) {
            document.getElementById(currentSlide).classList.add('active');
        }
    </script>
    <%if (slides.length > 0) { %>
        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">

            <!--Indicators-->
            <ol class="carousel-indicators">
                <% slides.forEach(e => { %>
                <li data-target="#carousel-example-1z" data-slide-to="<%= e.index %>"></li>
                <% }); %>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <% slides.forEach(function(slide) { %>
                <!--First slide-->
                <div id="currentSlide" class="carousel-item">
                    <div class="view"
                        style="background-image: url('<%= slide.src %>'); background-repeat: no-repeat; background-size: cover;">
                        <!-- Mask & flexbox options-->
                        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

                            <!-- Content -->
                            <div class="text-center white-text mx-5 wow fadeIn">
                                <h1 class="mb-4">
                                    <strong><%= slide.name %></strong>
                                </h1>
                                <p class="mb-4 d-none d-md-block">
                                    <strong><%= slide.description%></strong>
                                </p>

                                <a target="_blank" onclick="parent.location='/Producto/id/<%= slide.idProduct%>'"
                                    class="btn btn-outline-white btn-lg">Ordenalo Ahora</a>
                            </div>
                            <!-- Content -->
                        </div>
                    </div>
                    <!-- Mask & flexbox options-->
                </div>
                <%if (slide.index === 0) { %>
                <script>setActiveSlide('currentSlide');</script>
                <% } %>
                <!--/First slide-->
                <% }); %>
            </div>
            <!--/.Slides-->

            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
    <% } %>
    <!--Main layout-->
    <main>
        <div class="container" style="margin-top: 1rem;">
            <!--Section: Products v.3-->
            <section class="text-center my-4 mx-4">
                <div class="row wow fadeIn my-1 w-100">
                    <div class="col-md-10 text-center mx-auto my-4">
                        <%if (products.length > 0) { %>
                            <h4 class="my-4 h4">Conoce Nuestros Productos</h4>

                            <p>Aqui en ENShop contamos con una gran variedad de productos que
                                van de desde electronicos hasta prendas de vestir, cada uno de nuestros
                                productos tiene una excelente relacion precio/calidad asi que sabemos que no te
                                arrepentiras.</p>
                        
                        <% } else { %>
                            <h4 class="my-4 h4">No Hay Productos En El Sistema</h4>

                            <p>Por favor comienza a anadir productos dando click en el siguiente boton.</p>
                        <%}%>
                    </div>
                </div>
                <!--Grid row-->
                <div class="row wow fadeIn">
                    <%if (products.length > 0) { %>
                        <% products.forEach(product => {%>
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-3 mb-4">

                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="<%= product.images[0]%>" class="card-img-top" alt="">
                                    <a href="/Producto/id/<%= product._id%>">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <!--Card image-->

                                <!--Card content-->
                                <div class="card-body text-center">
                                    <!--Category & Title-->
                                    <a class="grey-text">
                                        <h5><%= product.category%></h5>
                                    </a>
                                    <h5>
                                        <strong>
                                            <a href="/Producto/id/<%= product._id%>"
                                                class="dark-grey-text"><%= product.name%>
                                                <span class="badge badge-pill danger-color"><%= product.state%></span>
                                            </a>
                                        </strong>
                                    </h5>
                                    <h4 class="font-weight-bold red-text PrecioOriginal">
                                        <strong><%= product.originalPrice%>$</strong>
                                    </h4>
                                    <h4 class="font-weight-bold blue-text">
                                        <strong><%= product.currentPrice%>$</strong>
                                    </h4>
                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->
                        <%});%>
                    <%}%>
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Products v.3-->
            <% if ((products.length > 0)) { %>
                <div class="row w-100">
                    <a target="_blank" onclick="parent.location='/Catalogo'"
                        class="background-btn btn btn-outline-white btn-lg mx-auto">Ve Todos Nuestros Productos</a>
                </div>
            <% } else { %>
                <div class="row w-100">
                    <a target="_blank" onclick="parent.location='/AgregarProducto'"
                        class="background-btn btn btn-outline-white btn-lg mx-auto">Agrega Productos</a>
                </div>
            <%}%>
        </div>
    </main>
    <!--Main layout-->
    <% include ./partials/footer %>
</body>

</html>